:root {
  scroll-behavior: smooth;
}

section,
div {
  border: 1px solid red;
}

/* HERO SECTION */
.hero-section {
  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: space-evenly;

  background-image: radial-gradient(
    1000px circle at center,
    #121639 0%,
    #000000 100%,
    #1c1f45 100%
  );

  background-repeat: no-repeat;
}

/* HEADER FLOATING */
.hero-section header {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 10;
  padding: 2rem 3rem;

  width: 100%;
}

.hero-section nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; /* gap-8 */
  background-color: #121639;
  padding: 0.75rem 2rem; /* py-3 px-8 */
  border-radius: 30px;
}

/* HERO CONTENT WRAPPER */
.hero-wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

/* LEFT TEXT */
.hero-title {
  max-width: 420px;
}

/* TITLES */
.title-org {
  font-size: 72px;
  font-weight: 700;
  color: #df4c21;
  margin: 0;
  -webkit-text-stroke: 2px #fea70a;
}

.title-school {
  font-size: 72px;
  font-weight: 700;
  color: #007083;
  margin-top: -1rem;
  -webkit-text-stroke: 2px #b0f2fe;
}

/* TEXT */
.hero-description {
  margin-top: 1.5rem;
  font-weight: 600;
  color: #e99806;
}

.hero-date {
  margin-top: 1rem;
  font-size: 20px;
  color: #00d0f3;
}

.hero-image {
  max-width: 580px;
  height: auto;
}

/* max-width used since developing from desktop first */
@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .hero-title {
    max-width: 1024px;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .hero-section header {
    display: none;
  }
}
@media (max-width: 640px) {
  .hero-section header {
    display: none;
  }
}

/* Mobile */
@media (max-width: 475px) {
  .hero-image-wrapper {
    display: none;
  }
  .hero-title {
    display: grid;
  }
  .hero-title h1 {
    font-size: 50px;
  }

  .hero-title p {
    font-size: 10px;
  }
}

@media (max-width: 390px) {
}
